/* Svuota type reset  */
:root{
  --h-header: 60px;
  --w-aside: 70px;
}

.debug *{
  border: 1px solid black;
  /* background-color: rgba(0, 0, 0, 0.199); */
}

/* ----------------------------------
    HEADER 
-----------------------------------*/
header{
  height: var(--h-header);
}

/* ----------------------------------
    MAIN 
-----------------------------------*/
main{
  height: calc(100vh - var(--h-header));
  display: flex;
}

/* aside */
aside{
  width: var(--w-aside);
}

/* scroll-box */
.scroll-box{
  width: calc(100% - var(--w-aside));
  overflow-y: auto;
}

.form-control-custom{
  background-color: red;
}